<div class="footer">
    <p class="display-5">Follow Us On</p>
    <div class="icons">
      <a href="https://www.facebook.com/KLCUTD17/" target="_blank"><img src="../images/Facebook.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com/klc.utd/" target="_blank"><img src="../images/Instagram.svg" alt="Instagram"></a>
      <a href="https://discord.com/invite/4FzFPVQ" target="_blank"><img src="../images/Discord.svg" alt="Discord"></a>
    </div>
  </div>
</body>
</html>