<%-include("partials/header")%>
<head>
    <link rel="stylesheet" href="/css/faq.css">
</head>

<div class="faq">
    <h1 class="display-2 mb-5 mt-5">FAQ</h1>

    <button class="accordion h4">I wasn't able to come last semester, am I still able to join?</button>
    <div class="panel">
        <p class="lead">Of course! We accept new members at any point during the semester, but please note that class placement may be difficult if classes are full.</p>
    </div>
    <button class="accordion h4">Are there any club requirements?</button>
    <div class="panel">
        <p class="lead">Nope! There are no requirements, but we ask that you attend classes regularly so that you don't fall behind. Of course we know things can come up, so if you have to miss a class just let your teacher know as soon as possible!</p>
    </div>
    <button class="accordion h4">How are the classes structured?</button>
    <div class="panel">
        <p class="lead">We try to keep the classes small, so for every teacher there are anywhere between 1-5 students.</p>
    </div>
    <button class="accordion h4">Who teaches the classes?</button>
    <div class="panel">
        <p class="lead">Our teachers are all volunteers! They are either native speakers, fluent, or semi-fluent in Korean, some of which have started with us as students themselves! If you or a friend can speak Korean and would like to teach others, we're always looking for more teachers.</p>
    </div>
    <button class="accordion h4">How does class placement work?</button>
    <div class="panel">
        <p class="lead mb-5">You can sign up for a class based on your Korean proficiency (complete beginner, beginner knowing the alphabet, intermediate, and advanced) and your schedule availability. (Details on signup for Spring 2022 coming soon).</p>
    </div>
</div>
<script src="js/faq.js"></script>
<%-include("partials/footer")%>