<%-include("partials/header")%>
<head>
    <link rel="stylesheet" href="/css/faq.css">
</head>

<div class="faq">
    <h1 class="display-2">FAQ</h1>
</div>
<script src="js/faq.js"></script>
<%-include("partials/footer")%>