<%-include("partials/header")%>
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>

<div class="hero-section">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="p-3 p-lg-5 pt-lg-3">
          <h1 id="title" class="display-4 fw-bold lh-1 text-body-emphasis">Korean Language Club at UTD</h1>
          <p class="lead">The Korean Language Club (KLC) at UTD is here to help you learn Korean! We are a growing student organization, founded in 2014, that studies the Korean language and culture together in a small group setting</p>
        </div>
    </div>
</div>

<div class="vid">
    <video controls autoplay muted loop src="../vid/intro.mp4"></video>
</div>

<div class="officers">
    <h1 class="display-2 mb-4">Meet Our Officers</h1>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row mb-5">
            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/olivia.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Olivia Barlow</h2>
                <p class="sub-heading">PRESIDENT</p>
                <p class="lead">Hey guys! I joined as a teacher in fall 2021, and I'm president as of this semester! I am a second year CompSci major, and I spent a semester abroad in Korea (SKKU in Suwon) fall of 2022. I speak Korean fluently as my second language, and I love watching others grow their skills in class with me! As far as miscellaneous info about me goes, I love good food, new adventures, learning languages, meeting new people, fashion, and cute things! I plan on moving to Korea at some point in the future, as I felt very at home when I lived there, and I already miss it :' ). Until then, I hope to have y'all's support as I struggle in the beginning coming into the president role!.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/Jake.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Jake Lee</h2>
                <p class="sub-heading">VICE PRESIDENT</p>
                <p class="lead">Hey handsomes & beauties! I'm Jake (you can call me by my Korean name which is Donghyun or Hyun or 동현) and I am the Vice President of the Korean Language Club, starting this semester! I studied in Hong Kong, China, Taiwan, and some other South East Asian countries and I am now back in the states to finish my college degree I'm a Dallas-born Korean American, but I'm bad at both languages (kidding) I also learned Mandarin, Cantonese, and Japanese and now I'm on my way re-learning German! I'm also teaching Advanced (Master) class for KLC, so if you're interested in learning Korean regarding social / political / geographical / historical aspects you should definitely join us Look forward to meet you guys in the future (and perhaps in my class too) and wish you guys a wonderful spring term!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/minjun.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Minjun Joung</h2>
                <p class="sub-heading">SECRETARY</p>
                <p class="lead">Hello everyone, my name is Minjun Joung and I will be the new Secretary. I am currently a junior studying for a psychology degree hoping to become a professor to teach the wonders of Psychology of Music. I joined KLC last semester as a teacher for beginners 1 and 2 and I am still teaching this semester too! I love playing the piano (I love music in general), table-tennis, and League ()! If you ever want to talk about anything related to music, like: theory, recommendations, K-pop, etc. come to me! Although I'm not on campus most times of the week, I am almost always willing to play table-tennis with anyone as long as a table is open! (Lastly, my ign for League is Che0rryMotion, just tell me beforehand if you want to play </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="row mb-5">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/tanvi.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Tanvi Khandekar</h2>
                <p class="sub-heading">TREASURER</p>
                <p class="lead">Hello lovelies! My name is Tanvi Khandekar and I am the KLC treasurer. I am a freshman molecular biology student currently in a research lab. I am planning to get my PhD in the future. I joined the KLC last semester because I love learning new languages and cultures, as well as my love for kpop and kdramas. Fun fact: I know more than five languages! If you’re curious, I am a huge TXT stan (anyone else super excited for their comeback tonight??!!) . I also love to dance and read all kinds of books. I am looking forward to this semester and getting to make some great memories with everyone!!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/nissy.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Nissy Luke</h2>
                <p class="sub-heading">COMMUNICATIONS + DIGITAL DESIGN CHAIR</p>
                <p class="lead">Hi chingus, my name is Nissy Luke and I am your Communication and Digital Design Chair for this semester. I am currently a junior in neuroscience under the pre-pa track. I joined KLC last semester due to my interest in Korean culture and wanting to learn the language. My interest began when I started watching kdramas and listening to Korean music. I now listen to a variety of music including khh, kpop, and krnb. So if you need a music buddy or someone to binge dramas with feel free to hmu(I’ve spent way tooo much time on watching than studying hehe but we’re not gonna talk about that). I also enjoy dancing a lot. I’m excited for this semester and can’t wait to meet y’all :))</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/jason.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Jason Kim</h2>
                <p class="sub-heading">CURRICULUM COORDINATOR</p>
                <p class="lead">Hi! I am Jason, a sophomore Economics major with minor in Spanish. I really like listening to K-indie and K-rap. Hoping to meet everyone soon and enjoy our semester! 가즈아~!</p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

            <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../images/trhea.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                <h2 class="fw-normal mt-4">Trhea Karthigesh</h2>
                <p class="sub-heading">EVENTS COORDINATOR</p>
                <p class="lead">안녕! I’m Trhea, and i’m a freshman in computer science i joined KLC to meet new people with common interests! ʕ•̫͡•ʕ•̫͡•ʔ•̫͡•ʔ•̫͡•ʕ•̫͡•ʔ•̫͡•ʕ•̫͡•ʕ•̫͡•ʔ•̫͡•ʔ•̫͡•ʕ•̫͡•ʔ•̫͡•ʔ i love dancing, music, skating, watching kdrama and anime! Can’t wait to meet y’all this semester!!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <h2 class="fw-normal mt-4">Clayton Sloan</h2>
                <p class="sub-heading">EVENTS COORDINATOR</p>
                <p class="lead">Hello everyone, my name is Clayton, and I am one of the Event Coordinators for the club. I am an Interdisciplinary Studies Major with a concentration in Education, with plans of teaching English as a second language in South Korea once I graduate. My first experience with the Korean language and culture was last August when a friend of mine taught me a few phrases. She got me into kpop and kdramas, and that propelled me into obsessive learning. I haven't looked back and am already speaking at a low-intermediate level after only 4 months. Due diligence and practice leads to success. I look forward to learning with all of you and wish everyone a great semester</p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
</div>

<div class="officers">
    <h1 class="display-2 mb-4">Meet Our Advisor</h1>
        <div class="row mb-5">
            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/images/advisor.webp" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
            <h2 id="advisor-name" class="fw-normal mt-4">Dr. Bei Chen</h2>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
</div>

<script src="/js/home.js"></script>
<%-include("partials/footer")%>