<%-include("partials/header")%>
<head>
    <link rel="stylesheet" href="/css/resources.css">
</head>
<div class="resources">
    <h1>Resources</h1>
</div>

<div class="main-content">
    <p class="lead"><em>*Korean Language I book is available if needed for $10 (PDF) or $15 (hard copy pickup). Please Venmo @UTDKLC (include your email for PDF) - payments will be private</em></p>
    <div class="bttns">
        <a href=""><button class="h3">Class Recordings</button></a>
        <a href=""><button class="h3">Infographics</button></a>
        <a href=""><button class="h3">Textbooks</button></a>
        <a href=""><button class="h3">Worksheets</button></a>
    </div>
</div>
<%-include("partials/footer")%>