<%-include("partials/header")%>
<head>
    <link rel="stylesheet" href="/css/resources.css">
</head>
<div class="resources">
    <h1 class="display-4">Resources</h1>
</div>

<div class="main-content">
    <p class="lead"><em>*Korean Language I book is available if needed for $10 (PDF) or $15 (hard copy pickup). Please Venmo @UTDKLC (include your email for PDF) - payments will be private</em></p>
    <div class="bttns">
        <a href=""><button class="h3">Class Recordings</button></a>
        <a href=""><button class="h3">Infographics</button></a>
        <a href=""><button class="h3">Textbooks</button></a>
        <a href=""><button class="h3">Worksheets</button></a>
    </div>
</div>

<div class="additional-resources">
    <h1 class="display-4">Additional Resources</h1>
</div>

<div class="links">
    <div class="main-div">
        <h2 class="display-6">Websites</h2>
        <a href="https://www.howtostudykorean.com/" target="_blank">howtostudykorean.com</a>
        <a href="https://nuri.iksi.or.kr/sjcu/home/main.do" target="_blank">sejonghakdong.org</a>
        <a href="https://talktomeinkorean.com/curriculum/" target="_blank">talktomeinkorean.com</a>
    </div>

    <div class="main-div">
        <h2 class="display-6">YouTube Channels</h2>
        <a href="https://www.youtube.com/channel/UCWwkebe58DeuZw-Lf1QRC7g/videos" target="_blank">How to Study Korean</a>
        <a href="https://www.youtube.com/user/talktomeinkorean/videos" target="_blank">Talk to Me in Korean</a>
    </div>

    <div class="main-div">
        <h2 class="display-6">Distionaries and Translators</h2>
        <a href="https://en.dict.naver.com/#/main" target="_blank">Naver Korean-English Dictionary</a>
        <a href="https://papago.naver.com/" target="_blank">Naver Papago Translator</a>
    </div>

    <div class="main-div">
        <h2 class="display-6">Virtual Keyboard</h2>
        <a href="https://www.branah.com/korean" target="_blank">Branah</a>
    </div>

</div>

<div class="more">
    <h1 class="display-4">More Coming!</h1>
</div>
<%-include("partials/footer")%>