.title{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    color: var(--secondary-color);
    font-weight: bolder;
    margin-bottom: 4rem;
}

.title button{
    border-color: var(--primary-color);
    border-radius: 10px;
    border-width: 3px;
    background-color: white;
    color: var(--primary-color);
    padding: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.50s ease;
}

.title button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

/* ADD MEDIA QUERY SO THAT TITLE IS DISPLAYED PROPERLY AT SMALLER SCREENS */