html{
    overflow-x: hidden;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    padding: 12%;
}

#title{
    color: white !important;
}

.vid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12%;
}

.vid video{
    max-width: 96%;
}

.officers{
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.officers h1 {
    color: rgba(115, 71, 121, 1);
    font-weight: bolder;
    padding-bottom: 8rem;
}

.officers h2{
    color: var(--black-100, #1E1B1B);
}

.officers .sub-heading{
    color: rgba(30, 27, 27, 0.5);
}

#advisor-name{
    width: max-content;
}

/* ADD READ MORE BUTTON */
.box{
    margin-bottom: 2em;
}
.box p.lead{
    height: 120px;
    overflow: hidden;
}

.box a{
    color: var(--primary-color);
    text-decoration: none;
}

.box a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #C8748675;
}

.box.showContent p{
    height: auto;
}